.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 250px;
}

.fighter-preview___name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 32px;
  font-family: 'Arial Black', sans-serif;
  font-weight: 700;
}

.fighter-preview___prop {
  display: flex;
  align-items: center;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 24px;
  font-family: 'Arial Black', sans-serif;
  font-weight: 600;
}

.fighter-preview___prop::before {
  display: inline-block;
  content: '';
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fighter-preview___prop.health::before {
  background-image: url(../../resources/heart.png);
}

.fighter-preview___prop.attack::before {
  background-image: url(../../resources/fist.png);
}

.fighter-preview___prop.defense::before {
  background-image: url(../../resources/armor.png);
}
